/* 320 - 768 - 960 */
/* Nav */

html, body {
    width: 100%;
    height: 100%;
}
body {
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    min-width: 320px;
}

.firstWrapper {
    position: relative;
    height: 80%;
}

@media screen and (max-width: 550px) {
    p, h3 {
        font-size: 120%;
    }

    #nav a {
        padding: 0.5em;
    }
}
@media screen and (min-width: 551px ) and (max-width: 768px) {
    .firstWrapper {
        margin: 0 auto;
        width: 99%;
    }

    #nav a {
        padding: 0.5em;
    }

    p, h3 {
        font-size: 120%;
    }

    table
    {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {

    .firstWrapper {
        max-width: 62%;
        margin: 0 auto;
    }

    #nav a {
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        padding: 0.2em 1em 0em 1em;
        margin: 0.6em 0.2em 0em 0.2em;
        font-weight: 600;
        border-radius: 8px;
        color: #fff;
    }

    #nav a:hover {
        background: #383838;
    }

    #nav a:active {
        background: #484848;
    }

    table
    {
        margin: 0 auto;
    }

}

#nav {
    background-color: #282828;
    text-align: center;
    width: 100%;
    z-index: 10000;
}

#nav ul {
}

#nav li {
    display: inline-block;
}

#nav a {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;
}

#nav a:hover {
    color: #fff !important;
}

#nav a.active:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    margin-left: -0.75em;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    border-top: solid 0.6em #282828;
}



h2, h3 {
    text-align: center;
}

ol {
    padding: 5px;
    margin: 0px 1px;
}

img {
    width: 100%;
    height: auto;
}

#nav ol, ul {
    list-style: none;
}

tr {
    vertical-align: top;
}

.container {
    padding-bottom: 10px;
}

button {
    float: right;
}